<!-- Input nativo oculto que abre a câmera traseira do celular com alta resolução -->
 <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; background-color: #f5f5f5;">

  <input 
  #fileInput 
  type="file" 
  accept="image/*" 
  capture="environment" 
  style="display: none;" 
  (change)="onFileSelected($event)">

<!-- Botão estilizado do PrimeNG para disparar a câmera -->
<p-button 
  label="Escanear Etiqueta" 
  icon="pi pi-camera" 
  styleClass="p-button-raised p-button-primary" 
  (onClick)="fileInput.click()">
</p-button>


  <div *ngIf="resposta" class="card-resultado p-4 bg-white shadow rounded mt-4">
    <h3 class="text-lg font-bold text-gray-700 mb-3">📦 Detalhes do Pedido</h3>
  
    <ul class="space-y-2 text-sm text-gray-600">
      <li><strong>ID do Pedido:</strong> <span class="text-blue-600 font-semibold">{{ resposta.id_etiqueta }}</span></li>
      <li><strong>Cliente:</strong> {{ resposta.destinatario.cliente }}</li>
      <li><strong>Rua:</strong> {{ resposta.destinatario.rua }}</li>      
      <li><strong>CEP:</strong> {{ resposta.destinatario.cep }}</li>
      <li><strong>Cidade/UF:</strong> {{ resposta.destinatario.cidade }}</li>
    </ul>
   </div>  

</div>


